@{
    ViewData["Title"] = "All Time Slots";
}

<h3>All Time Slots</h3>
<button id="btnAddTimeSlot" class="btn btn-success mb-2">Add Time Slot</button>
<div id="gridTimeSlots"></div>
<div id="popupTimeSlot"></div>

@section Scripts {
    <script src="~/js/TimeSelect.js"></script>
}
