@model EMPLOYEEDAPPERMVC.Data.Models.Domain.Service?

<input type="hidden" id="serviceId" value="@(Model?.Id ?? 0)" />

<div id="ValidationsummaryService"></div>

<div class="mb-2">
    <label class="form-label">Service Name</label>
    <div id="txtServiceName" data-value="@Model?.Name"></div>
</div>

<div class="mb-2">
    <label class="form-label">Duration (Minutes)</label>
    <div id="txtDurationMinute" data-value="@Model?.DurationMinute"></div>
</div>

<div class="mb-2">
    <label class="form-label">Charge</label>
    <div id="txtCharge" data-value="@Model?.Charge"></div>
</div>

<div class="mt-3">
    <button id="btnSaveService" class="btn btn-success">Save</button>
</div>









