@{
    ViewData["Title"] = "Assign Employee";
}

<h3>Employee</h3>

<div id="gridEmployees"></div>
<div id="popupService"></div>

@section Scripts {
    <script src="~/js/AssignEmployee.js"></script>
}
