@{
    ViewData["Title"] = "All Services";
}

<h3>All Services</h3>

<button id="btnAddService" class="btn btn-success mb-2">Add Service</button>

<div id="gridServices"></div>
<div id="popupService"></div>

@section Scripts {
    <script src="~/js/Service.js"></script>
}









