@{
    ViewData["Title"] = "All Employees";
}

<h3>All Employees</h3>

<button id="btnAdd" class="btn btn-success mb-2">Add Employee</button>

<div id="gridEmployees"></div>
<div id="popupEmployee"></div>

@section Scripts {
    <script src="~/js/Employee.js"></script>
}
